venv/
__pycache__/
*.mp4
*.mov
*.avi
*.mkv
*.pth
*.pt
*.zip
*.rar
data/train/input/
data/train/target/
data/sample_video/
data/manually_enhanced/
data/extracted_frames/
results/outputs/
results/videos/
results/checkpoints/
*.DS_Store
